@using Microsoft.Extensions.Hosting
@using SmartMap.Web.Util
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<!DOCTYPE html>
<html lang="@ViewData["languageCode"]" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @CmsVariable.SiteName</title>

    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta property="og:site_name" content="@CmsVariable.SiteName">
    <meta property="og:locale" content="@ViewData["languageTerritory"]">
    @RenderSection("Head", required: false)

    @if (hostingEnv.IsProduction())
    {
        <link rel="stylesheet" asp-href-include="~/dist/reactmain*.bundle.css.gz" />
    }
    else
    {
        <link rel="stylesheet" asp-href-include="~/dist/reactmain*.bundle.css" />
    }

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:wght@400&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon-16x16.png">
    <script src="https://kit.fontawesome.com/6a2fe4641c.js" crossorigin="anonymous"></script>
</head>
<body>
    @await Component.InvokeAsync("TopBar")
    @RenderBody()
    @await Component.InvokeAsync("Footer")
    @RenderSection("Scripts", required: false)
@await Component.InvokeAsync("CookieConsent")
<input type="hidden" id="RequestVerificationToken" name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()" />    

    @if (hostingEnv.IsProduction())
    {
        <script asp-src-include="~/dist/reactmain*.bundle.js.gz"></script>
        @await Html.PartialAsync("_GoogleAnalytics")
    }
    else
    {
        <script asp-src-include="~/dist/reactmain*.bundle.js"></script>
    }
</body>
</html>
